[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=QtWeather
Exec=/usr/bin/single-instance /opt/QtWeather/bin/QtWeather
Icon=/usr/share/icons/hicolor/80x80/apps/QtWeather80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
